/* NavBar.css */
.navbar {
    display: flex;
    justify-content: flex-end; /* 修改为flex-end以确保在右上角 */
    align-items: center;
    padding: 10px;
    position: absolute; /* 添加position: absolute以确保在右上角 */
    top: 0;
    right: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.user-avatar {
    cursor: pointer;
}

.avatar-container {
    display: flex;
    align-items: center;
    background-color: #ccc; /* 添加背景颜色 */
    padding: 5px; /* 添加一些内边距 */
    border-radius: 4px; /* 添加圆角 */
}

.avatar-container span {
    margin-right: 10px;
    color: #333; /* 修改文字颜色 */
}

.avatar-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* 确保下拉菜单是竖着排列 */
    flex-direction: column; /* 确保下拉菜单是竖着排列 */
}

.dropdown li {
    padding: 10px;
}

.dropdown button {
    color: #333;
    width: 100%;
    text-align: left;
}
