/* PersonalInformation.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* 确保子元素的绝对定位基于这个容器 */
}

.nav-container {
  position: absolute;
  top: -20px;
  right: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* 居中对齐 */
  width: 100%;
  margin-top: 60px; /* 确保 header 与顶部和 NavBar 有足够的空间 */
  position: relative; 
}

.header-logo1 {
  margin-top: -8%;
  margin-left: -80%;
  max-width: 150px; /* 增加最大宽度限制以防止图片过大 */
  width: auto;
  height: auto;
}

.header-text1 {
  margin-top: 20px; 
  margin-left: -60%;
  font-size: 1.5em; /* 调整字体大小 */
  text-align: center; /* 居中对齐 */
}

.information-container {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .information-container {
      width: 90%;
  }
}
