.header-logo1 {
    position: relative;
    left: 60px;
    top: 25px;    
    width: 180px;
    height: 120px;
    opacity: 1;
    background: rgba(29, 33, 41, 1);
  }

.register-title {
    position: relative;
    top: -15px;
}
.register-content{
    position: relative;
    top: -15px;
    left: 60px;
}