/* brand-ye图片的CSS */
.header-logo {
    position: absolute;
    left: 5%;
    top:1%;
    width: 180px;
    height: 60px;
    opacity: 1;
    background: rgba(29, 33, 41, 1);
  }

  .title-h3 {
    position: relative; 
    top: 1%; 
    margin-top: 20px; 
}
.button-container {
    display: flex;
    justify-content: flex-end; /* 将子元素（按钮）推到容器的最右端 */
    margin-top: 10px;
}

.button-back-to-Patient {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-back-to-Patient:hover {
    background-color: #0056b3;
}

.result-suggestions {
    border: 1px solid #ccc; /* 设置框架 */
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .result-suggestions {
        padding: 15px;
    }

    .button-back-to-Patient {
        width: 100%; /* 自适应页面改变大小 */
        box-sizing: border-box;
    }
}
