.header-logo1 {
  position: relative;
  left: 60px;
  top: 25px;    
  width: 180px;
  height: 120px;
  opacity: 1;
  background: rgba(29, 33, 41, 1);
}

.big-container h2 {
  position: relative;
  top: -75px;    
  left: 390px;
}

.button-back-to-Patient-Details {
  position: relative;
  top: -125px;  
  left: 990px;
}

.uploaded-files-heading {
  background: rgba(3, 134, 125, 1);
  color: white; /* 如果需要，还可以设置文字颜色 */
  padding: 10px; /* 可选：增加一些内边距 */
  border-radius: 5px; /* 可选：增加一些圆角 */
}

.big-container {
  padding: 20px;
}

.upload-main-container {
  display: flex;
  justify-content: space-between;
}

.upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* 将子元素居中 */
  width: 60%; /* 设置合适的宽度，使其占据更大的空间 */
  padding: 20px;
  border: 1px solid #ccc; /* 添加完整的边框 */
  border-radius: 10px; /* 添加圆角 */
  background-color: #f9f9f9; /* 设置背景色 */
}

.uploaded-files-table {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc; /* 添加完整的边框 */
  border-radius: 10px; /* 添加圆角 */
  background-color: #f9f9f9; /* 设置背景色 */
}

.uploaded-files-table table {
  width: 100%;
  border-collapse: collapse;
}

.uploaded-files-table th, .uploaded-files-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.uploaded-files-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.frame-upload-info1, .frame-upload-info2, .frame-upload-info3 {
  width: 100%; /* 子元素宽度设置为100%，以适应父容器 */
  margin-bottom: 20px; /* 添加底部间距 */
  text-align: left; /* 内容居中对齐 */
}
.frame-upload-info1 h3{
  top:20%;
}
.report-container h3 {
  position: relative;
  top: 15px;    
  left: 890px;
}

.report-container input {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.report-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.report-buttons button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 1em;
}

.report-buttons button:hover {
  background-color: #0056b3;
}
